{%  extends 'accounts/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Books</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Book</th>
							<th>Category</th>
							<th>Price</th>
						</tr>

						{% for i in books %}
							<tr>
								<td>{{i.name}}</td>
								<td>{{i.category}}</td>
								<td>{{i.price}}</td>
								<td><a class="btn btn-sm btn-danger" href="{% url 'delete_book' i.id %}">Delete</a></td>
							</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}