{%  extends 'accounts/main.html' %}

{% block content %}
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Student:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'update_student' student_details.id %}">Update Student</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_order' student_details.id %}">Place Order</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
            <p>ID: {{student_details.id}}</p>
            <p>Name: {{student_details.name}}</p>
			<p>Email: {{student_details.email}}</p>
			<p>Phone: {{student_details.phone}}</p>
		</div>
	</div>

</div>
<br>
<br>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Book</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
					<th>Return</th>
				</tr>

				{% for order in student_details.order.all %}

				<tr>
					<td>{{order.book}}</td>
					<td>{{order.status}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>

					<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>
					<td><a class="btn btn-sm btn-info" href="{% url 'bill' order.id %}">Return</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}
