{%  extends 'accounts/main.html' %}
{% block content %}
{%  include 'accounts/status.html' %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Book</th>
					<th>Status</th>
					
				</tr>

				{% for order in orders %}

				<tr>
					<td>{{order.book}}</td>
					<td>{{order.status}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
					
                </tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>


{% endblock content %}